# venv & Python cruft
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# IDE
.vscode/
.idea/

# local data & heavy results
datasets/
results/
!results/.gitkeep

# caches
*.ipynb_checkpoints

lightning_logs/