# Core scientific stack
numpy
pandas
scikit-learn

# Deep learning
torch
torchvision
torchaudio

# Time series + forecasting
lightning=2.4.0
pytorch-forecasting==1.4.0
torchmetrics==1.3.2

# Visualization
matplotlib
seaborn

# Adversarial defenses
pywavelets  # for wavelet-based TSAS smoothing

# Utilities
tqdm

# Jupyter (if you want notebooks)
jupyter
ipykernel
